<app-header></app-header>
<main>

    <section>
        <div class="headline">
            <span>App Jornada</span>
            <h1> O principio da jornada do seu futuro</h1>
        </div>
        <img ngSrc="./assets/app-head.png" 
         width="669" height="536" />
    </section>
    <section class="section-course">
        <div class="course">
            <h2>Cursos</h2>
        </div>
        
    </section>
    <section class="explore-course">
        <btn-primary btn-text="Explora os nossos cursos"></btn-primary>
    </section>

</main>